.footFormat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    & p {
        text-align: center;
    }
}

.copyright {
    font-size: small;
}
